{{#each flamingo as |flamingo|}}
  <section data-id="{{flamingo._id}}" class="flamingo-log" >
    <h6>Name:</h6>
    <p>
        {{flamingo.name}}
    </p>
    <h6>Talent:</h6>
    <p>
        {{flamingo.talent}}
    </p>


    <form class="update-flamingo" data-id="{{flamingo._id}}">
        <input type="text" name="flamingo[name]" placeholder="Name" required>
        <input type="text" name="flamingo[talent]" placeholder="Talent" required>
        <!-- <input type="text" name="party[details]" placeholder="details" required> -->
        <button class="btn btn-primary"> update your flamingo! </button>
    </form>
    <btn class= "btn btn-danger btn-sm delete" data-id="{{flamingo._id}}"> delete </btn>
  </section>

{{/each}}
