{{#each party as |party|}}
  <section data-id="{{party._id}}" class="party-log" >
    <h4>
      {{party._id}}
    </h4>
    <h6>Date:</h6>
    <h4>
      {{party.date}}
    </h4>
    <h6>Title:</h6>
    <p>
        {{party.title}}
    </p>
    <h6>Details:</h6>
    <p>
        {{party.details}}
    </p>

    <button data-id="{{party._id}}" class="btn btn-danger rsvp-btn"> RSVP </button>
    </section>

  {{/each}}
